.button {
  background: white;
  border: 1px solid #555;
  color: #555;
  cursor: pointer;
  font-weight: 600;
  margin-left: 1.3rem;
  outline: none;
  padding: 1.3rem;
  transition: background 0.2s ease, transform 0.2s ease;

  &:hover,
  &:focus {
    background: #e8e8e8;
  }

  &:active {
    background: #ccc;
    transform: scale(1.1);
  }
}

.button--round {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}
